@page "/components/template-parameters/with-context"

<h1>Counter</h1>

<Counter>
    <CurrentCountDisplay Context="counter">
        <p>current count : @counter</p>
    </CurrentCountDisplay>
</Counter>
